// Theme styles

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

$font-main: 'Quicksand', sans-serif;
$font-header: 'EB Garamond', serif;
$font-secondary: 'Montserrat', sans-serif;
$font-drawn: 'Caveat', cursive;

$text-primary: #000000;
$text-secondary: #EEE5E9;

$background-primary: #F3F3F3;
$background-secondary: #2f2f2f;

$color-1: #388659;
$color-2: #52AA5E;
$color-3: #52AA8A;
$color-4: #3AAED8;
$color-5: #2bd9fe;

$border-radius: 0px;

// css resets

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: $font-main;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-header;
}


.nav_section {
    height: 10vh;
    margin: 0 10vw;
    padding: 0 10rem;
    width: 80vw;
    z-index: 99;

    @media only screen and (max-width: 600px) {
        margin: 0;
        padding: 1rem 0;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_logo {
            color: $text-secondary;
            cursor: pointer;
            font-family: $font-header;
            font-size: 1.5rem;
            font-weight: 700;

            img {
                max-width: 15rem;
            }
        }

        .nav-btn {
            color: $text-secondary;
            display: none;
        }

        a:link {
            color: $text-secondary;
            text-decoration: none;
        }

        a:visited {
            color: $text-secondary;
            text-decoration: none;
        }

        a:hover {
            color: $color-3;
            // text-decoration: underline;
        }

        a:focus {
            color: $color-3;
            text-decoration: none;
        }

        ul {
            display: flex;
            list-style: none;
            margin: 1rem;

            li {
                padding: 1em;
                font-weight: 300;
                font-size: 1em;
                letter-spacing: 2px;
            }
        }

        .mobile_nav {
            display: none;
        }

        @media only screen and (max-width: 600px) {
            .desktop_nav {
                display: none;
            }

            .mobile_nav {
                display: none;
                flex-direction: column;
                position: fixed;
                top: 0;
                background: $color-2;
                width: 100%;
                z-index: 99;
                margin: 0;
                padding: 0;
                text-align: center;

                .close {
                    color: $color-3;
                    font-size: 2rem;
                    text-align: right;
                }
            }

            .nav-btn {
                display: block;
                padding-right: 1rem;
            }

            .nav-btn span.material-symbols-outlined {
                font-size: 40px;
            }

            a.nav_logo,
            .quick_contact_section,
            .about_section_text {
                padding: 0 1rem;
            }

        }

    }
}

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    .header {
        align-items: center;
        color: $text-secondary;
        display: flex;
        flex-direction: column;
        height: 75vh;
        justify-content: center;

        @media only screen and (max-width: 600px) {
            height: 100vh;
            text-align: center;
        }

        .content {
            padding: 1rem 3rem;

            @media only screen and (max-width: 600px) {
                padding: 0.5rem;
            }

            h1 {
                font-weight: 300;

                @media only screen and (max-width: 600px) {
                    font-size: 3rem;
                }
            }

            p {
                max-width: 50vw;
                padding-top: 1rem;
                text-align: center;

                @media only screen and (max-width: 600px) {
                    max-width: 100vw;
                    padding: 1rem;
                }
            }
        }
    }
}

.intro {
    padding: 3rem 0;

    @media only screen and (max-width: 600px) {
        padding: 1.5rem;
    }

    .card {
        border: 0;
        padding: 4rem 0;
    }

    .garden-bg-1 {
        background-image: url('../img/garden-1.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;
    }

    .garden-bg-2 {
        background-image: url('../img/garden-2.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;
    }

    .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        height: 30vh;
        text-align: center;

        @media only screen and (max-width: 600px) {
            height: fit-content;
        }

        .card-title {
            font-family: $font-header;
            font-size: 2.5rem;
            font-weight: 300;
        }

        .card-text {
            padding: 0 2rem;
        }
    }
}

.work {
    background: $background-secondary;
    color: $text-secondary;
    padding: 5rem 0 7rem;
    text-align: center;

    .work-group {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        margin: 5rem 0 3rem;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        .card__section {
            display: block;
            overflow: hidden;
            padding-bottom: 50px;
            position: relative;

            .card__inner {
                background: #ffffff21;
                border-radius: 10px 10px 0 0;
                color: $background-primary;
                display: block;
                padding: calc(20px + 30%) 35px 10px;
                position: relative;
                width: 100%;
            }

            .card__image {
                border-radius: 0 0 10px 10px;
                box-shadow: 0px 3px 9px 0px #4b4b4b;
                height: auto;
                margin: 0 auto -30%;
                position: relative;
                width: 90%;
                z-index: 1;
            }
        }
    }

    a.cta {
        border-bottom: 1px solid;
        color: $background-primary;
        cursor: pointer;
        padding-bottom: 0.3rem;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            border-bottom: 2px solid;
            border-radius: 5px;
            color: $color-3;
            padding-bottom: 0.4rem;
            transition: 0.5s;
        }
    }

}

.quote {
    padding: 6rem 0;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        padding: 0;
    }

    img {
        width: 80vw;
        object-fit: cover;
        height: 40vh;
        object-position: center;

        @media only screen and (max-width: 600px) {
            width: 100vw;
        }
    }

    .form-group {
        background: $background-secondary;
        border-radius: 10px 0 0 10px;
        box-shadow: -5px 0px 10px #f3f3f320;
        padding: 2rem 3rem 3rem;
        margin: 0 0 0 -5rem;
        max-width: 20vw;
        text-align: center;


        @media only screen and (max-width: 600px) {
            border-radius: 10px 10px 0 0;
            box-shadow: 0px -5px 10px #f3f3f320;
            max-width: 90vw;
            margin: -10rem 0 5rem 0;
        }

        h3 {
            color: $background-primary;
            margin-bottom: 1rem;
        }

        input,
        textarea {
            background: transparent;
            border: 0;
            border-bottom: 2px solid $color-1;
            color: $background-primary;
            font-size: 0.9rem;
            padding: 0.6rem 0.3rem;
            margin: 0.5rem 0;
            width: 100%;

            &:focus {
                border-bottom: 4px solid $color-3;
                outline: none;
            }
        }

        button {
            border: 4px solid $color-1;
            background: $color-1;
            color: $background-primary;
            cursor: pointer;
            padding: 0.7rem;
            transition: 0.2s;
            width: 100%;

            &:hover {
                border: 4px solid $color-3;
                transition: 0.4s;
            }
        }
    }
}

.footer {
    background-color: $background-secondary;
    color: $background-primary;
    padding: 3rem 0;

    @media only screen and (max-width: 600px) {
        text-align: center;
    }

    h3 {
        padding-bottom: 1.5rem;

        @media only screen and (max-width: 600px) {
            margin-top: 2rem;
        }
    }

    a {
        color: $background-primary;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            color: $color-3;
            transition: 0.2s;
        }
    }

    .social {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        @media only screen and (max-width: 600px) {
            justify-content: center;
        }
    }

    .copyright {
        border-top: 1px solid #ffffff21;
        margin-top: 1rem;
        padding-top: 2rem;

        @media only screen and (max-width: 600px) {
            padding: 1rem 2rem;
            text-align: center;
        }
    }
}

// -------------------------------------------
// ---------- Content page style -------------
// -------------------------------------------

.content-page-landing {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;

    @media only screen and (max-width: 600px) {
        height: 60vh;
    }

    .header {
        align-items: center;
        color: $text-secondary;
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: center;

        @media only screen and (max-width: 600px) {
            height: 60vh;
        }

        .content {
            padding: 1rem 3rem;

            h1 {
                font-weight: 300;
                text-align: center;
            }

            p {
                max-width: 30vw;
                padding-top: 1rem;
                text-align: center;

                @media only screen and (max-width: 600px) {
                    max-width: 100vw;
                }
            }
        }
    }
}

.contact-form {

    .form-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 6rem;
        text-align: left;

        @media only screen and (max-width: 600px) {
            padding: 3rem 1rem;
        }

        .small {
            font-weight: 700;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .address p {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .form-section {
        display: flex;
        flex-direction: row;
        padding-bottom: 5rem;

        @media only screen and (max-width: 600px) {
            flex-direction: column-reverse;
        }

        .form-group {
            background: $background-primary;
            box-shadow: -5px 0px 10px #f3f3f320;
            padding: 2rem 3rem 3rem;
            max-width: 100%;
            text-align: center;

            @media only screen and (max-width: 600px) {
                // width: 100%;
                padding: 2rem 1rem;
            }

            h3 {
                color: $background-secondary;
                margin-bottom: 1rem;
            }

            input,
            textarea {
                background: transparent;
                border: 0;
                border-bottom: 2px solid $color-1;
                color: $background-secondary;
                font-size: 0.9rem;
                letter-spacing: 0.1rem;
                padding: 0.6rem 0.3rem;
                margin: 0.5rem 0;
                width: 100%;

                &:focus {
                    border-bottom: 4px solid $color-3;
                    outline: none;
                }
            }

            button {
                border: 4px solid $color-1;
                background: $color-1;
                color: $background-primary;
                cursor: pointer;
                padding: 0.7rem;
                transition: 0.2s;
                width: 100%;

                &:hover {
                    border: 4px solid $color-3;
                    transition: 0.4s;
                }
            }
        }
    }
}